header {
    padding: 24px 0px 18px;
}
.container {
    max-width: 1261px;
    width: 95%;
    margin: 0 auto;
}
.wrapper1 {
    display: flex;
    justify-content: space-between;
}
nav {
    display: flex;
    align-items: center;

}
ul {
    display: flex;
    gap: 50px;
}
li h2 {
    color: #636060;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.fa-bars {
    color: #636060;
    font-size: 22px;
    display: none;
}
.s-1 {

    height: 606px;
    background-image: url("../images/background.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper2 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.wrapper2 h2 {
    color: #fff;
    font-family: Roboto;
    font-size: 79px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-align: center;
}
.wrapper2 h4 {
    color: #fff;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
/* s-1 end */
.s-2 {
    padding-top: 84px;
    padding-bottom: 140px;
}
.container2 {
    max-width: 1262px;
    width: 95%;
    margin: 0 auto;
}
.wrapper3 {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.div1 {
    width: 286px;
    padding-right: 81px;
    display: inline-block;
    margin-bottom: 30px;
}
.div1 h4 {
    color: #636060;
    font-family: Roboto;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.div1 h3 {
    color: #010101;
    font-family: Roboto;
    font-size: 28px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
}
.div1 p {
    color: #636060;
    font-family: Roboto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 37px;

}
.div2 {
    max-width: 921px;
    width: 100%;
    display: inline-flex;
    vertical-align: top;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: center;
    gap: 30px;
}

.cardh {
    color: #343232;
    font-family: Roboto;
    font-size: 19px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 23px;
}
.cardp {
    color: #636060;
    font-family: Roboto;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-top: 9px;
    max-width: 285px;
    width: 100%;
}
